<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortener</title>
    <link rel="icon" href="../static/img/scissor.png" type="image/x-icon" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css')}}">
</head>
<body>
    {% block content %}
    <header>
        <div class = "topright">
            {% block header %}
            {% endblock %}
        </div>
        <h1 style="text-align: center;"><a href="/">MiniatURL</a></h1>
    </header>
    {% block body %}
    {% endblock %}  
    {% endblock %}
      
</body>
</html>