{% extends './base.html' %}

{% block header %}
{% if current_user.is_authenticated %}
<a href="/api/user/logout">
    Logout
 </a>
{% else %}
<a href="/api/user/login">
    Login
 </a>
 {% endif %}
{% endblock %}

{% block body %}
<main class="centermain">
    <section>
        <h2>Create Account</h2>
        <!-- Mostrar mensajes flash -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class="withoutDot">
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <form id="registrationForm" action="/api/user/register" method="post" class="form-container">
            <fieldset>
                <label for="">Name:
                    <input type="text" name="form_name" class="form-input" required>
                </label>
                <label for="">Email:
                    <input type="email" name="form_email" class="form-input" required>
                </label>
                <label for="">Password:
                    <input type="password" name="form_password" id="password" class="form-input" required>
                </label>
                <label for="">Confirm Password:
                    <input type="password" name="form_confirm_password" id="confirm_password" class="form-input">
                </label>
                <span id="passwordError" class="error"></span>
                <input type="submit" value="Sign Up" class="btn">
            </fieldset>
        </form>
    </section>
</main>
<script src="{{ url_for('static', filename='js/layout.js') }}"></script>
{% endblock %}