{% extends './base.html' %}

{% block header %}
{% if current_user.is_authenticated %}
<a href="/api/user/logout">
    Logout
 </a>
{% else %}
<a href="/api/user/login">
    Login
 </a>
 {% endif %}
{% endblock %}

{% block body %}
<main class="centermain">
    <section>
        <h2>Your shortened URL</h2>
        <fieldset>
            <input type="url" name="" id="shortUrlInput" value="{{ BASE_URL }}/api/shorturl/{{result.short_url}}">
            <button class="copyButton" onclick="copyUrl()">Copy URL</button>
        </fieldset>
    </section>
    <section>
        <p>URL: <a href="{{result.original_url}}" target="_blank"> {{ result.original_url }} </a></p>
        <a href="/">Shorten another URL</a>
    </section>
</main>
<script src="{{ url_for('static', filename='js/layout.js') }}"></script>
{% endblock %}